{% extends "main/layout.html" %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <h1>Про нас</h1>
    <p>Вітаємо вас в чарівному світі смаку та вишуканої кулінарії – в світі ресторанної компанії "Готуємо з любов'ю"! Наша команда гордо представляє найвищий стандарт гастрономічних вражень, де справжня любов до кулінарії переплітається з уважністю до деталей.</p>
    <p>У серці нашого бренду – не просто їжа, а творіння, приготоване з любов'ю і турботою. Ми прагнемо не тільки задовольнити ваші смакові рецептори, але й залишити невимовно приємні враження, які ви будете пам'ятати.</p>
    <p>Наші шеф-кухарі – справжні магі при плиті, які вміють створити справжнє кулінарне дійство. Вони вдосконалюють свою майстерність, експериментуючи зі свіжими та відібраними інгредієнтами, щоб допомогти вам відкрити нові аромати і смаки.</p>
{% endblock %}